{% extends 'base.html.twig' %}

{% block title %}Connection
{% endblock %}

{% block body %}
	<div class="form">
		<form method="post" class="mx-3">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
			<label for="username">Email</label>
			<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control mb-3" autocomplete="email" required autofocus>

			<div class="toggle-password-container login-password-container">
				<label for="password">Mot de passe</label>
				<input type="password" name="_password" id="password" class="form-control mb-3" autocomplete="current-password" required {{ stimulus_controller('symfony/ux-toggle-password/toggle-password', { buttonClasses: ['toggle-password-button'],hiddenLabel: 'Masquer',visibleLabel: 'Afficher' } ) }}>

			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="_remember_me">
					Se souvenir de moi
				</label>
			</div>

			<div class="d-flex align-items-center mb-3 flex-sm-row flex-column">

				<button class="btn btn-primary me-2" type="submit">Connection</button>
				<div class="d-flex flex-column">
					<small>
						<a href="{{path('app_register')}}">Créer un compte</a>
					</small>
					<small>
						<a href="{{path('app_forgot_password_request')}}">Mot de passe oublié ?</a>
					</small>
				</div>
			</div>

		</form>
	</div>
{% endblock %}
