{% extends '/admin/base_admin.html.twig' %}

{% block title %}Admin utilisateurs
{% endblock %}

{% block body %}
	<div class="container mb-3">
		<a href="{{ path('app_admin') }}">
			<i class="fa-solid fa-arrow-left fa-xl"></i>
		</a>
	</div>
	<h2 class='m-3'>Utilisateurs</h2>

	<div class="mask d-flex align-items-center h-100 m-3" style="background-color: rgba(0,0,0,.25);">
		<div class="container">
			<div class="row justify-content-center">
				<div class="card bg-dark shadow-2-strong">
					<div class="table-responsive">
						<table class="table table-dark table-borderless mb-0">
							<thead>
								{# <th class="text-center align-middle">Date</th> #}
								<th class="text-center align-middle">Nom</th>
								<th class="text-center align-middle">Prénom</th>
								<th class="text-center align-middle">Email</th>
								<th class="d-none d-sm-table-cell text-center align-middle"></th>
							</thead>
							<tbody>
								{% for user in users %}
									<tr>
										<td class="text-center align-middle">{{ user.lastname }}</td>
										<td class="text-center align-middle">{{ user.firstname }}</td>
										<td class="text-center align-middle">{{ user.email }}</td>
										<td class="text-center align-middle">
											<a href="{{ path('app_admin_user_details', {'id': user.id}) }}" class="text-center align-middle">
												<span class="d-none d-sm-inline">Informations</span>
												<i class="fa-solid fa-pen-to-square d-sm-none"></i>
											</a>
										</td>
									</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
