{% extends '/admin/base_admin.html.twig' %}

{% block title %}Admin Dashboard
{% endblock %}

{% block body %}
	<div class="container mb-3">
		<a href="{{ path('app_admin_users') }}">
			<i class="fa-solid fa-arrow-left fa-xl"></i>
		</a>
	</div>
	<div class="container">
		<p><strong>Nom</strong>: {{user.lastname}}</p>
		<p><strong>Prénom</strong>: {{user.firstname}}</p>
		<p><strong>email</strong>: {{user.email}}</p>
		<p><strong>Téléphone</strong>:{{user.telephone}}</p>

		<a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="text-center align-middle">
			<span class="d-none d-sm-inline">Editer le profile</span>
			<i class="fa-solid fa-pen-to-square d-sm-none"></i>
		</a>
	</div>
	{% if reservations is not empty %}
		<h2 class='m-3'>Toutes les réservations de
			{{reservations[0].user.lastname }}
			{{reservations[0].user.firstname}}</h2>

		<div class="mask d-flex align-items-center h-100 m-3" style="background-color: rgba(0,0,0,.25);">
			<div class="container">
				<div class="row justify-content-center">
					<div class="card bg-dark shadow-2-strong">
						<div class="table-responsive">
							<table class="table table-dark table-borderless mb-0">
								<thead>
									<th class="text-center align-middle">Date</th>
									<th class="text-center align-middle">Heure</th>
									<th class="text-center align-middle">Couverts</th>
									<th class="d-none d-sm-table-cell text-center align-middle">Modifier</th>
									<th class="d-none d-sm-table-cell text-center align-middle">Annuler</th>
								</thead>
								<tbody>
									{% for reservation in reservations %}
										<tr>
											<td class="text-center align-middle">{{ reservation.date | date("d/m/Y") }}</td>
											<td class="text-center align-middle">{{ reservation.time |date('H:i') }}</td>
											<td class="text-center align-middle">{{ reservation.howManyGuest }}</td>
											<td class="text-center align-middle">
												<a href="{{ path('app_admin_reservation_edit', {'id': reservation.id}) }}" class="text-center align-middle">
													<span class="d-none d-sm-inline">Modifier</span>
													<i class="fa-solid fa-pen-to-square d-sm-none"></i>
												</a>
											</td>
											<td class="text-center align-middle">
												<a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ reservation.id }}">
													<span class="d-none d-sm-inline">Annuler</span>
													<i class="fa-solid fa-trash d-sm-none"></i>
												</a>

												<div class="modal fade" id="confirmDeleteModal{{ reservation.id }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel{{ reservation.id }}" aria-hidden="true">
													<div class="modal-dialog modal-delete">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="confirmDeleteModalLabel{{ reservation.id }}">Confirmation de suppression</h5>
																<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body">
																Êtes-vous sûr de vouloir supprimer cette réservation ?
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
																<form action="{{ path('app_admin_reservation_cancel', {'id': reservation.id}) }}" method="post">
																	<button type="submit" class="btn btn-danger">Confirmer la suppression</button>
																</form>
															</div>
														</div>
													</div>
												</div>
											</td>
										</tr>

									{% endfor %}
								</tbody>
							</table>
							<div class="pagination-container">
								{{ knp_pagination_render(reservations) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="container mt-3">
			<p>{{user.lastname}}
				{{user.firstname}}
				n'a pas fait de réservation encore.</p>
		</div>
	{% endif %}


{% endblock %}
